.Hello {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
p{
  font-size: 16px;
  line-height: 24px;
  /* Here, the line height is 16 pixels of the text + 8 pixels = 24 pixels 
  As you can see in the rendered output */
  margin-bottom: 8px;
  /* You can see that the extra 8 pixels of space are added to the text as well below 
  But this is applicable only between 2 different paragraphs (or p tags)
  I have not tested between lines */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
